<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lelloman.read">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ReadApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.articles.view.ArticlesListActivity" />
        <activity
            android:name=".ui.sources.view.SourcesListActivity"
            android:label="@string/title_activity_sources_list">

        </activity>
        <activity
            android:name=".ui.sources.view.AddSourceActivity"
            android:label="@string/title_activity_add_source"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.sources.view.SourceActivity" />
        <activity android:name=".ui.articles.view.ArticleActivity" />
        <activity
            android:name=".ui.settings.view.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".ui.walkthrough.view.WalkthroughActivity"
            android:theme="@style/AppTheme.NoActionBar.Inverse"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.launcher.view.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.discover.view.FoundFeedListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.discover.view.DiscoverUrlActivity"
            android:theme="@style/AppTheme.NoActionBar.Inverse" />

        <receiver
            android:name=".feed.FeedRefreshBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lelloman.read.feed.ACTION_TRIGGER_REFRESH" />
            </intent-filter>
        </receiver>
    </application>

</manifest>